<h2 class="page-title">Our Products</h2>

<div class="sort">
  <span class="sort-title">Sort by:</span>
  <select onchange={{action "sortBy" value="target.value"}}>
    <option value='id' selected>More relevant</option>
    <option value='description'>Alphabetically</option>
    <option value='numberPrice'>Price (from lowest to highest)</option>
    <option value='numberPrice:desc'>Price (from highest to lowest)</option>
  </select>
</div>

<ul class="product-list">
  {{#each sortedProducts as |item|}}
    <li class="product-item">
      {{#link-to "product" item class="image-container"}}
        <img src="{{item.image}}" alt="product image" class="product-image">
      {{/link-to}}
      {{#link-to "product" item class="product-link"}}
        {{truncate-words item.description 25}}...
      {{/link-to}}
      <span class="product-price">{{item.price}}</span>
      {{#unless item.isAdded}}
        <button type="button" {{action "add" item}} name="add" class="btn">
          <span class="btn-text">
            <svg class="svg-i svg-middle svg-normal svg-white">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/sprite.svg#i-plus"></use>
            </svg>
            Add to Cart
          </span>
        </button>
      {{else}}
        <span class="btn fake">
          <span class="btn-text">
            <svg class="svg-i svg-middle svg-normal svg-white">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/sprite.svg#i-check"></use>
            </svg>
            Added to cart
          </span>
        </span>
      {{/unless}}
    </li>
  {{else}}
    <li>No more products : (</li>
  {{/each}}
</ul>
