<h2 class="page-title">Our Products</h2>

<ul class="product-list">
  {{#each model as |item|}}
    <li class="product-item">
      {{#link-to "product" item}}
        <img src="{{item.image}}" alt="product image" class="product-image">
      {{/link-to}}
      {{#link-to "product" item class="product-link"}}
        {{truncate-words item.description 25}}...
      {{/link-to}}
      <span class="product-price">{{item.price}}</span>
      {{#unless item.isAdded}}
        <button type="button" {{action "add" item}} name="add" class="btn">
          <span class="btn-text">
            <svg class="svg-i svg-middle svg-normal svg-white">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/sprite.svg#i-plus"></use>
            </svg>
            Add to Cart
          </span>
        </button>
      {{else}}
        <span class="btn fake">
          <span class="btn-text">
            <svg class="svg-i svg-middle svg-normal svg-white">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/sprite.svg#i-check"></use>
            </svg>
            Added to cart
          </span>
        </span>
      {{/unless}}
    </li>
  {{else}}
    <li>No more products : (</li>
  {{/each}}
</ul>
