<section class="product-page">
  <div class="image-wrapper">
    <div class="image-container">
      <img src="{{model.image}}" alt="product image" class="product-image">
    </div>
    <span class="product-price">
      {{model.price}}
    </span>
  </div>
  <div class="details">
    <p>
      {{model.description}}
    </p>
    <p>
      <b>Color:</b> {{model.color}}
    </p>
    <p>
      <b>In Stock:</b> {{model.stock.remaining}}
    </p>

    {{button-list
      item=model
      model=model
    }}
  </div>
</section>
