<section class="product-page">
  <div class="image-wrapper">
    <img src="{{model.image}}" alt="product image" class="product-image">
    <span class="product-price">
      {{model.price}}
    </span>
  </div>
  <div class="details">
    <p>
      {{model.description}}
    </p>
    <p>
      <b>Color:</b> {{model.color}}
    </p>
    <p>
      <b>In Stock:</b> {{model.stock.remaining}}
    </p>

    {{#unless model.isAdded}}
      <button type="button" {{action "add" model}} name="add" class="btn">
        <span class="btn-text">
          Add to Cart
        </span>
      </button>
    {{else}}
      <span class="btn fake">
        <span class="btn-text">
          Added to cart
        </span>
      </span>
    {{/unless}}
  </div>
</section>
